.frame-1 {
    align-items: center;
    background-color: #ffffff;
    border-radius: 54px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    overflow: hidden;
    padding: 30px 200px;
    width: fit-content;
}

.title-group {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 410px;
}

.container-auswhlen {
    color: var(--black-2);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    width: fit-content;
}

.whle-einen-containe {
    align-self: stretch;
    color: #0000009e;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
}

.chooseables {
    flex-direction: column;
    padding: 10px 30px;
}

.component-2 {
    background-color: var(--gallery);
    border: 1px solid;
    border-color: var(--black-3);
    border-radius: 20px;
    height: 110px;
    min-width: 110px;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.component-2:is(.selected) {
    border-color: #1c58f2;
}

.component-2:hover {
    cursor: pointer;
}

.iconsax-linearbox1 {
    height: 63px;
    left: 23px;
    position: absolute;
    top: 23px;
    width: 63px;
}

.open {
    align-items: center;
    background-color: #1c58f2;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    overflow: hidden;
    padding: 14px 119px;
    width: fit-content;
    color: #ffffff;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.open:hover {
    cursor: pointer;
    background-color: #1c58f2e8;
}

.chooseables-1 {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    width: fit-content;
}